@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));



@theme {
  --color-primary: #fff;
  --color-secondary: #000000;
  --color-cream: #fdf4ec;
  --font-bebas: 'var(--font-bebas)';
  --font-montserrat: 'var(--font-montserrat)';
}

@layer components {
  .primary-heading {
    @apply text-secondary font-bebas text-5xl sm:text-6xl  font-bold tracking-normal dark:text-cream uppercase;
  }

  .secondary-heading {
    @apply text-secondary font-bebas text-3xl sm:text-4xl font-bold tracking-normal uppercase dark:text-cream;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
