@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #fff;
  --color-secondary: #000000;
  --color-cream: #fdf4ec;
  --font-bebas: 'var(--font-bebas)';
  --font-montserrat: 'var(--font-montserrat)';
}

@layer components {
  .primary-heading {
    @apply text-secondary font-bebas dark:text-cream text-5xl font-bold tracking-normal uppercase sm:text-6xl;
  }

  .secondary-heading {
    @apply text-secondary font-bebas dark:text-cream text-3xl font-bold tracking-normal uppercase sm:text-4xl;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  ::selection {
    @apply bg-secondary text-primary  dark:text-secondary dark:bg-primary ;
  }
}
